.odd{
    background-color: #b2ebef;
    color:black;
}
.even{
    background-color: #e5e7fa;
    color: black;
}
td {
	border: 1px solid white;
	padding: 15px;
    text-align: center;
}
.schedule{
    color: white;
    background-color: #7c68ed;
    text-align: center;
}